---
default_install_hook_types:
  - pre-commit
  - commit-msg

exclude: |-
  (?x)^(
    ^LICENSE
    |^CODE_OF_CONDUCT.md
    |^parser\/src\/2026-01-01.xml
    |^static\/src\/list-one.xml
  )$

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        language_version: lts
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
  - repo: https://github.com/mpalmer/action-validator
    rev: v0.7.0
    hooks:
      - id: action-validator
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.19.0
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check"]
  - repo: local
    hooks:
      - id: cargo-fmt
        stages: [pre-commit]
        name: cargo fmt
        description: unit test for the project
        entry: bash -c 'cargo +stable fmt --workspace --'
        language: rust
        files: \.rs$
        pass_filenames: true
      - id: clippy-fix
        stages: [pre-commit]
        name: clippy fix
        description: clippy fix
        # yamllint disable-line rule:line-length
        entry: bash -c 'cargo +stable clippy --workspace --all-features --allow-dirty --fix --no-deps'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: clippy-check
        stages: [pre-commit]
        name: cargo +stable clippy
        description: cargo clippy check
        # yamllint disable-line rule:line-length
        entry: bash -c 'cargo +stable clippy --workspace --all-features --no-deps'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-nextest
        stages: [pre-commit]
        name: cargo nextest
        description: unit test for the project
        entry: bash -c 'cargo +1.88.0 nextest run --workspace --all-features'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-doctest
        stages: [pre-commit]
        name: cargo doctest
        description: doctests for the project
        entry: bash -c 'cargo +1.88.0 test --workspace --all-features --doc'
        language: rust
        files: \.rs$
        pass_filenames: false
