---
default_install_hook_types:
  - pre-commit
  - commit-msg

exclude: |-
  (?x)^(
    ^LICENSE
    |^CODE_OF_CONDUCT.md
    |^parser\/src\/2026-01-01.xml
    |^static\/src\/list-one.xml
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        language_version: lts
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/mpalmer/action-validator
    rev: v0.7.0
    hooks:
      - id: action-validator
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.18.9
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check"]
  - repo: https://github.com/backplane/pre-commit-rust-hooks
    rev: v1.1.0
    hooks:
      - id: fmt
        args:
          - '--all'
          - '--'
      - id: test
        args:
          - '--workspace'
          - '--docs'
      - id: clippy
        args:
          - '--workspace'
          - '--all-features'
          - '--all-targets'
          - '--fix'
          - '--allow-dirty'
          - '--'
          - '--no-deps'
      - id: clippy
        args:
          - '--workspace'
          - '--all-features'
          - '--all-targets'
          - '--'
          - '--no-deps'
  - repo: local
    hooks:
      - id: cargo-nextest
        name: cargo nextest
        description: unit test for the project
        entry: bash -c 'cargo nextest run --workspace --all-features'
        language: rust
        files: \.rs$
        pass_filenames: false
